[submodule "scikit-learn"]
	path = scikit-learn
	url = https://github.com/scikit-learn/scikit-learn
[submodule "experiments/tice_vs_oob/SAR-PU"]
	path = experiments/tice_vs_oob/SAR-PU
	url = https://github.com/ML-KULeuven/SAR-PU
